.absence-landing-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 10px;
    padding-right: 5px;
}

.absence-landing-container > * {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .landing-table {
    height: 100%;
} */

.ag-style {
    height: 600px;
    width: 100%;
  }

  .absence-data-header {
    font-family: 'Times New Roman', Times, serif;
  }

  .total-absences {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    align-self: center;
  }

  .table-top-content {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    width: 100%;
  }
   
  /* /* .vertical-middle {
    display: flex;
    align-items: center;
  } */ */
   
  .vertical-middle img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
  }